* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(204, 43%, 93%);
  font-family: "Karla", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  background-color: white;
  padding: 50px;
  width: 600px;
}
.container {
  width: 700px;
  display: flex;
}
.pricing,
.about-us {
  background-color: hsl(179, 62%, 43%);
  padding: 50px;
  width: 50%;
}
.about-us {
  background-color: hsl(179, 62%, 48%);
}
h1 {
  color: hsl(179, 62%, 43%);
}
h2 {
  color: hsl(204, 43%, 93%);
}
button {
  padding: 20px 80px;
  background-color: hsl(71, 73%, 54%);
  border-radius: 20px;
  border: none;
  color: hsl(204, 43%, 93%);
  font-family: "Karla", sans-serif;
  font-size: 15px;
}
span {
  font-size: 50px;
}
